* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.open-sans-font {
  font-family: "Open Sans", sans-serif;
}

/* shared style */
header {
  max-width: 1440px;
  margin: 30px auto;
  padding: 30px;
}

.display-flex {
  display: flex;
}
/* color */
.text-dark {
  color: #3a3a3a;
}
.color-white {
  color: white;
}

/* Header related style  */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  /* max-width: 243px; */
  font-size: 1.5rem;
  font-weight: 700;
}

.item {
  list-style: none;
  margin-left: 30px;
}
.item-link {
  text-decoration: none;
  max-width: 463px;
  font-size: 1rem;
  font-weight: 600;
  color: #3a3a3a;
}
/* banner related style */
.banner {
  justify-content: space-between;
  align-items: center;
}
.banner-left-content {
  max-width: 580px;
}
.banner-title {
  /* max-width: 582px; */
  font-size: 3.25rem;
  line-height: 3rem;
  font-weight: 700;
}
.section-description {
  max-width: 500px;
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0;
}
.btn-primary {
  max-width: 198px;
  font-size: 1rem;
  gap: 10px;
  font-weight: bold;
  color: white;
  background-color: #e02c6d;
  padding: 12px 24px;
  border: none;
  border-radius: 41px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.banner-right-image {
  max-width: 550px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.banner-bg {
  width: 100%;
}
.main-product {
  position: absolute;
  max-width: 475px;
}

