* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.open-sans-font {
  font-family: "Open Sans", sans-serif;
}

/* shared style */
header {
  max-width: 1440px;
  margin: 30px auto;
  padding: 30px;
}
main {
  max-width: 1440px;
  margin: 30px auto;
  padding: 30px;
}
footer {
  max-width: 100%;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
/* color */
.text-dark {
  color: #3a3a3a;
}
.color-white {
  color: white;
}

.card {
  max-width: 329px;
  /* height: 476px; */
  box-shadow:
    0 6px 15px rgba(0, 0, 0, 0.08),
    0 15px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 15px;
}
.card-img {
  max-width: 300px;
  width: 100%;
}
.card-title {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: #3a3a3a;
  margin: 5px 0;
}
.price {
  font-family: inter;
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);
}
.card i {
  font-size: 10px;
  color: rgba(251, 130, 0, 1);
}
.card span {
  font-family: roboto;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: rgba(94, 99, 102, 1);
}
.card p {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 143%;
  letter-spacing: 1.8%;
  color: #3a3a3a;
  margin-bottom: 10px;
}
/* Header related style  */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  /* max-width: 243px; */
  font-size: 1.5rem;
  font-weight: 800;
}

.item {
  list-style: none;
  margin-left: 30px;
}
.item-link {
  text-decoration: none;
  max-width: 463px;
  font-size: 1rem;
  font-weight: 600;
  color: #3a3a3a;
}
/* banner related style */
.banner {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.banner-left-content {
  max-width: 580px;
}
.banner-title {
  /* max-width: 582px; */
  font-size: 3.25rem;
  line-height: 4rem;
  font-weight: 700;
}
.section-description {
  max-width: 500px;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
}
.btn-primary {
  max-width: 198px;
  gap: 10px;
  background-color: #e02c6d;
  padding: 12px 24px;
  border: none;
  border-radius: 41px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.btn-primary a,
.btn-primary-a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1rem;
}

.btn-primary i,
.btn-primary-i {
  padding-left: 5px;
}

.banner-right-image {
  max-width: 480px;
  background-image: url(../images/Circle\ design.svg);
  margin: 50px 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.banner-bg {
  width: 100%;
}
.main-product {
  max-width: 440px;
  width: 100%;
}
/* company logos */
.companies {
  max-width: 1110px;
  width: 100%;
  margin: 30px auto 0 auto;
  padding: 30px 60px;
  box-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.06),
    0 1px 0 rgba(0, 0, 0, 0.06);
}
.logo-container {
  max-width: 986px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-logo {
  max-width: 84px;
  width: 100%;
  margin: 0px auto;
}
/* main style */

/* populer collection */

.container {
  max-width: 1047px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 50px auto 50px auto;
}
.section-title {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 4rem;
  color: #3a3a3a;
  text-align: center;
  margin: 80px auto 30px auto;
}
.see-more {
  max-width: 1047px;
  text-align: right;
  margin: 0 auto;
  padding: 10px;
}
.see-more a {
  text-decoration: none;
  color: rgba(224, 44, 109, 0.87);
  font-size: 1rem;
  font-weight: 700;
}
.see-more i {
  color: #e02c6d;
  margin-left: 2px;
}
.featured {
  max-width: 1110px;
  margin: 50px auto 0 auto;
  gap: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-left-img {
  max-width: 404px;
  width: 100%;
}

.featured-right-content {
  max-width: 610px;
  text-align: left;
}
.featured-title {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 3.75rem;
  color: #0a0826;
}
.featured-description {
  max-width: 501px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.75rem;
  color: #3a3a3a;
  margin: 15px 0;
}

/* footer section */

.footer {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0826;
}
.footer-section {
  max-width: 300px;
  margin: 50px auto;
  color: #ffffff;
  text-align: center;
}
.footer-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.footer-section .p1 {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.25rem;
  color: #d9dbe1;
  margin: 10px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section i {
  color: white;
  font-size: 24px;
  margin: 10px;
}
